:root{
    --primary-color: #757575;
    --first-color: #212121;
    --hover-blue-color: #2196F3;
    --white-color: #ffffff; 
    --background-color: #F5F4FA;

}

/* Кнопочки мини-выбора */
.list-choice{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;

    margin-bottom: 50px;
}

.list-link{
    color: var(--first-color);
}

/* Заголовки и их свойства */
.img-service{
    display: block;
    margin-bottom: 20px;
}


.title-service{
    font-weight: 700;
    color: var(--first-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.6;

    margin-top: 0;
    margin-bottom: 4px;
}
/* Текст-подсказка при наведении */
.title-headline{
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;

    margin-top: 0px;
    margin-bottom: 0px;
    
}

.text-service{
    font-size: 16px;
    line-height: 1.9;

    margin-top: 0px;
    margin-bottom: 50px;
    
}





/* Описания и их свойства */




